#-------------------------------------------------------------------------------
#-- Title         : Common DTM Core Constraints
#-- File          : DtmCore.ucf
#-- Author        : Ryan Herbst, rherbst@slac.stanford.edu
#-- Created       : 11/14/2013
#-------------------------------------------------------------------------------
#-- Description:
#-- Common top level constraints for DTM
#-------------------------------------------------------------------------------
#-- Copyright (c) 2013 by Ryan Herbst. All rights reserved.
#-------------------------------------------------------------------------------
#-- Modification history:
#-- 11/14/2013: created.
#-------------------------------------------------------------------------------

NET led(0)         LOC = "AA19"  | IOSTANDARD="LVCMOS25"; 
NET led(1)         LOC = "T15"   | IOSTANDARD="LVCMOS25";

NET i2cScl         LOC = "AB13"  | IOSTANDARD="LVCMOS25"; 
NET i2cSda         LOC = "AA10"  | IOSTANDARD="LVCMOS25";

NET pciRefClkP     LOC = "U6"; 
NET pciRefClkM     LOC = "U5";
NET pciRxP         LOC = "T4"; 
NET pciRxM         LOC = "T3"; 
NET pciTxP         LOC = "U2"; 
NET pciTxM         LOC = "U1"; 
NET pciResetL      LOC = "T14"   | IOSTANDARD = "LVCMOS25"; 

NET ethRxP         LOC = "AA6"; 
NET ethRxM         LOC = "AA5"; 
NET ethTxP         LOC = "AB4"; 
NET ethTxM         LOC = "AB3"; 

#NET dtmToRtmHsP(0) LOC = "AA2";
#NET dtmToRtmHsM(0) LOC = "AA1";
#NET rtmToDtmHsP(0) LOC = "Y4";
#NET rtmToDtmHsM(0) LOC = "Y3";
#NET dtmToRtmHsP(1) LOC = "W2";
#NET dtmToRtmHsM(1) LOC = "W1";
#NET rtmToDtmHsP(1) LOC = "V4";
#NET rtmToDtmHsM(1) LOC = "V3";

NET locRefClkP      LOC = "W6";
NET locRefClkM      LOC = "W5";

NET dtmToRtmLsP(5)  LOC = "V8"   | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsM(5)  LOC = "W8"   | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsP(4)  LOC = "U10"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsM(4)  LOC = "V10"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsP(3)  LOC = "T20"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsM(3)  LOC = "U20"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsP(2)  LOC = "R17"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsM(2)  LOC = "R18"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsP(1)  LOC = "R19"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsM(1)  LOC = "T19"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsP(0)  LOC = "T17"  | IOSTANDARD = "LVCMOS25";
NET dtmToRtmLsM(0)  LOC = "U17"  | IOSTANDARD = "LVCMOS25";

NET dpmClkP(2)      LOC = "U9"   | IOSTANDARD = "LVDS_25";
NET dpmClkM(2)      LOC = "U8"   | IOSTANDARD = "LVDS_25";
NET dpmClkP(1)      LOC = "W9"   | IOSTANDARD = "LVDS_25";
NET dpmClkM(1)      LOC = "Y8"   | IOSTANDARD = "LVDS_25";
NET dpmClkP(0)      LOC = "AA14" | IOSTANDARD = "LVDS_25";
NET dpmClkM(0)      LOC = "AB14" | IOSTANDARD = "LVDS_25";

NET dpmFbP(7)       LOC = "R22"  | IOSTANDARD = "LVDS_25";
NET dpmFbM(7)       LOC = "T22"  | IOSTANDARD = "LVDS_25";
NET dpmFbP(6)       LOC = "N21"  | IOSTANDARD = "LVDS_25";
NET dpmFbM(6)       LOC = "N22"  | IOSTANDARD = "LVDS_25";
NET dpmFbP(5)       LOC = "W19"  | IOSTANDARD = "LVDS_25";
NET dpmFbM(5)       LOC = "W20"  | IOSTANDARD = "LVDS_25";
NET dpmFbP(4)       LOC = "V21"  | IOSTANDARD = "LVDS_25";
NET dpmFbM(4)       LOC = "V22"  | IOSTANDARD = "LVDS_25";
NET dpmFbP(3)       LOC = "W21"  | IOSTANDARD = "LVDS_25";
NET dpmFbM(3)       LOC = "Y22"  | IOSTANDARD = "LVDS_25";
NET dpmFbP(2)       LOC = "AA20" | IOSTANDARD = "LVDS_25";
NET dpmFbM(2)       LOC = "AB20" | IOSTANDARD = "LVDS_25";
NET dpmFbP(1)       LOC = "Y21"  | IOSTANDARD = "LVDS_25";
NET dpmFbM(1)       LOC = "AA21" | IOSTANDARD = "LVDS_25";
NET dpmFbP(0)       LOC = "AA22" | IOSTANDARD = "LVDS_25";
NET dpmFbM(0)       LOC = "AB22" | IOSTANDARD = "LVDS_25";

NET clkSelA         LOC = "W18"  | IOSTANDARD = "LVCMOS25";
NET clkSelB         LOC = "V17"  | IOSTANDARD = "LVCMOS25";

NET plSpareP(4)     LOC = "N17"  | IOSTANDARD = "LVDS_25";
NET plSpareM(4)     LOC = "N18"  | IOSTANDARD = "LVDS_25";
NET plSpareP(3)     LOC = "N20"  | IOSTANDARD = "LVDS_25";
NET plSpareM(3)     LOC = "P20"  | IOSTANDARD = "LVDS_25";
NET plSpareP(2)     LOC = "AA17" | IOSTANDARD = "LVDS_25";
NET plSpareM(2)     LOC = "AB17" | IOSTANDARD = "LVDS_25";
NET plSpareP(1)     LOC = "AA15" | IOSTANDARD = "LVDS_25";
NET plSpareM(1)     LOC = "AB15" | IOSTANDARD = "LVDS_25";
NET plSpareP(0)     LOC = "V15"  | IOSTANDARD = "LVDS_25";
NET plSpareM(0)     LOC = "W15"  | IOSTANDARD = "LVDS_25";

NET bpClkIn(5)      LOC = "AA12" | IOSTANDARD = "LVCMOS25";
NET bpClkIn(4)      LOC = "Y16"  | IOSTANDARD = "LVCMOS25";
NET bpClkIn(3)      LOC = "W11"  | IOSTANDARD = "LVCMOS25";
NET bpClkIn(2)      LOC = "Y14"  | IOSTANDARD = "LVCMOS25";
NET bpClkIn(1)      LOC = "Y12"  | IOSTANDARD = "LVCMOS25";
NET bpClkIn(0)      LOC = "W14"  | IOSTANDARD = "LVCMOS25";

NET bpClkOut(5)     LOC = "T12"  | IOSTANDARD = "LVCMOS25";
NET bpClkOut(4)     LOC = "V16"  | IOSTANDARD = "LVCMOS25";
NET bpClkOut(3)     LOC = "U13"  | IOSTANDARD = "LVCMOS25";
NET bpClkOut(2)     LOC = "U15"  | IOSTANDARD = "LVCMOS25";
NET bpClkOut(1)     LOC = "V12"  | IOSTANDARD = "LVCMOS25";
NET bpClkOut(0)     LOC = "T11"  | IOSTANDARD = "LVCMOS25";

NET dtmToIpmiP(1)   LOC = "T10"  | IOSTANDARD = "LVCMOS25";
NET dtmToIpmiM(1)   LOC = "T9"   | IOSTANDARD = "LVCMOS25";
NET dtmToIpmiP(0)   LOC = "Y9"   | IOSTANDARD = "LVCMOS25";
NET dtmToIpmiM(0)   LOC = "AA9"  | IOSTANDARD = "LVCMOS25";

NET ethRxCtrl(0)    LOC = "F2"   | IOSTANDARD = "LVCMOS18";
NET ethRxClk(0)     LOC = "J5"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataA(0)   LOC = "J3"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataB(0)   LOC = "H3"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataC(0)   LOC = "H2"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataD(0)   LOC = "H1"   | IOSTANDARD = "LVCMOS18";
NET ethTxCtrl(0)    LOC = "F4"   | IOSTANDARD = "LVCMOS18";
NET ethTxClk(0)     LOC = "F5"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataA(0)   LOC = "H7"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataB(0)   LOC = "G7"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataC(0)   LOC = "F7"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataD(0)   LOC = "F6"   | IOSTANDARD = "LVCMOS18";
NET ethMdc(0)       LOC = "G4"   | IOSTANDARD = "LVCMOS18";
NET ethMio(0)       LOC = "J6"   | IOSTANDARD = "LVCMOS18";
NET ethResetL(0)    LOC = "H6"   | IOSTANDARD = "LVCMOS18";

NET ethRxCtrl(1)    LOC = "N3"   | IOSTANDARD = "LVCMOS18";
NET ethRxClk(1)     LOC = "M5"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataA(1)   LOC = "N2"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataB(1)   LOC = "L2"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataC(1)   LOC = "L1"   | IOSTANDARD = "LVCMOS18";
NET ethRxDataD(1)   LOC = "P1"   | IOSTANDARD = "LVCMOS18";
NET ethTxCtrl(1)    LOC = "L7"   | IOSTANDARD = "LVCMOS18";
NET ethTxClk(1)     LOC = "M4"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataA(1)   LOC = "L6"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataB(1)   LOC = "P4"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataC(1)   LOC = "M2"   | IOSTANDARD = "LVCMOS18";
NET ethTxDataD(1)   LOC = "K3"   | IOSTANDARD = "LVCMOS18";
NET ethMdc(1)       LOC = "K7"   | IOSTANDARD = "LVCMOS18";
NET ethMio(1)       LOC = "K6"   | IOSTANDARD = "LVCMOS18";
NET ethResetL(1)    LOC = "N5"   | IOSTANDARD = "LVCMOS18";

NET U_DtmCore/U_ArmRceG3Top/fclkClk0 TNM_NET = "fclkClk0";
TIMESPEC TS_fclkClk0 = PERIOD fclkClk0 100 Mhz HIGH 50%;

NET U_DtmCore/U_ArmRceG3Top/U_ArmRceG3Clocks/ponResetL TIG;

##########################################
# PCIE Core Constraints
##########################################

NET "U_DtmCore/pciRefClk" TNM_NET = "PCICLK" ;
NET "U_DtmCore/U_ZynqPcieMaster/U_Pcie/gt_top_i/pipe_wrapper_i/pipe_clock_int.pipe_clock_i/clk_125mhz" TNM_NET = "CLK_125";

TIMESPEC "TS_PCICLK"  = PERIOD "PCICLK" 100 MHz HIGH 50 %;
TIMESPEC "TS_CLK_125"  = PERIOD "CLK_125" TS_PCICLK*1.25;

##########################################
# End PCIe Core Constraints
##########################################

