#-------------------------------------------------------------------------------
#-- Title         : Common Eval Core Constraints
#-- File          : EvalCore.ucf
#-- Author        : Ryan Herbst, rherbst@slac.stanford.edu
#-- Created       : 11/14/2013
#-------------------------------------------------------------------------------
#-- Description:
#-- Common top level constraints for Eval
#-------------------------------------------------------------------------------
#-- Copyright (c) 2013 by Ryan Herbst. All rights reserved.
#-------------------------------------------------------------------------------
#-- Modification history:
#-- 11/14/2013: created.
#-------------------------------------------------------------------------------

NET i2cScl   LOC = "Y11"  | IOSTANDARD="LVCMOS25"; 
NET i2cSda   LOC = "AA11" | IOSTANDARD="LVCMOS25";

NET U_EvalCore/U_ArmRceG3Top/fclkClk0 TNM_NET = "fclkClk0";
TIMESPEC TS_fclkClk0 = PERIOD fclkClk0 100 Mhz HIGH 50%;

