
#-----------------------------------------------------------------------------
#-------------------------- Timing Constraints -------------------------------
#-----------------------------------------------------------------------------
NET sysClk125In                  TNM_NET = "sysClk125";

TIMESPEC TS_sysClk125              = PERIOD sysClk125               125 Mhz HIGH 50%;

#-----------------------------------------------------------------------------
#-------------------------- IO Constraints -----------------------------------
#-----------------------------------------------------------------------------
NET   "sysClkP"       LOC = "ah17" | IOSTANDARD = LVDS_25;
NET   "sysClkN"       LOC = "ag16" | IOSTANDARD = LVDS_25;
NET   "sysRstN"       LOC = "ag18" | IOSTANDARD = LVCMOS25 | PULLUP;
NET   "sdClk"         LOC = "f14"  | IOSTANDARD = LVCMOS33;
NET   "sdCmd"         LOC = "f15"  | IOSTANDARD = LVCMOS33;
NET   "sdData[3]"     LOC = "f24"  | IOSTANDARD = LVCMOS33;
NET   "sdData[2]"     LOC = "e24"  | IOSTANDARD = LVCMOS33;
NET   "sdData[1]"     LOC = "d24"  | IOSTANDARD = LVCMOS33;
NET   "sdData[0]"     LOC = "e23"  | IOSTANDARD = LVCMOS33;
